{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    
</head>
    


<body style="position: absolute; left: 35%; top: 15%; background: linear-gradient(90deg,aqua,white);">
    <div class="registr" style="width: 400px; height:500px; text-align: center; border: 2px solid black; border-radius: 9px;">
        <h1>login</h1>
    <form method="post" action="">
        {% csrf_token %}
         <table>
            {{ form.as_p }}
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="Submit"></td>
            </tr>                
          </table>
    </form>
    </div>
</body>
</html>