{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    
		
</head>

<body class="is-preload">

	<!-- Wrapper -->
	
	<!-- Scripts -->
	
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

		<!-- Search -->
		

		<!-- Links -->
		<section>
			<ul class="links">
				<li>
					<a href="http://127.0.0.1:8000/accounts/login/" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
						<h3>{{ user.username|default:'Guest' }}</h3>
					
					</a>
				</li>
				
			</ul>
		</section>

		<!-- Actions -->
		<section>
			<ul class="actions stacked">
				<li><a href="http://127.0.0.1:8000/accounts/login/" class="button large fit" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">LogIn</a></li>
			</ul>
		</section>

	</section>
    <section id="footer">
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
          <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
      </section>

</body>
</html>
