{% extends 'home.html' %}
{% load static%}
{% block content%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
				<!-- Header -->
				

				<!-- Menu -->
					

				<!-- Main -->
					<div id="main">

						<!-- Post -->
						
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ i.title }}</a></h2>
										<p>{{i.description}}</p>
									</div>
									   
										
										
								</header>
								<span class="image featured"><img src="{{i.main_img.url}}" alt=""></span>
								<p>{{i.text}} </p>
								<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" >
									
									<div class="carousel-inner">

										{% for i in images%}
									  <div class="carousel-item" style="height: 550px;">
										
										<img src="{{i.image.url}}" alt="" width="1400px" height="550px">
									</div>
										{% endfor %}
										 
										
									



										<div class="carousel-item active" style="height: 550px;">

											<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
											<div class="container">
											  <div class="carousel-caption text-end">
												<h1>All images </h1>
											
											  </div>
											</div>

										  </div>
	



									</div>
									<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
									  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									  <span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" >
									  <span class="carousel-control-next-icon" aria-hidden="true"></span>
									  <span class="visually-hidden">Next</span>
									</button>
								  </div>
								
						 
								
							
							</article>
							

							{%for newDetails in rows%}
                            <article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ newDetails.title }}</a></h2>
			                       </div>
									
								</header>
								<p>{{newDetails.text}}</p>
								
								
							</article>
						
                            {% endfor %}
							<article class="post">
								<h1>Coment</h1>
                                <br>
								<form method="post" action="{% url 'coments' i.id %}">
									{% csrf_token %}
                                     <label>Name:</label>
									 <input type="text" name="name" />
                                     <label>Text:</label>
                                     <input type="text" name="text" />
                                     <input type="submit" value="Save" />
									 <br>
								</form>
								<h1>Comments</h1>
                            {% for com in comm%}
							    <h2>{{com.name}}</h2>
								<p>{{com.text}}</p>
                            {% endfor %}
							</article>
							<footer>
								<ul class="stats">
									<li><a href="#">{{i.counter}}</a></li>
									<li><a href="/like/?id={{i.id}}" class="icon solid fa-heart">28</a></li>
									<li><a href="#" class="icon solid fa-comment">128</a></li>
								</ul>
							</footer>
					</div>
                    
				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">© Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
			